{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/dash.css">
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Coletas</h1>
    {% if tasks %}
        {% for task in tasks %}
        <h2>{{ task.description }}</h2>
            {% if task.answers %}
                {% for a in task.answers %}
                <h3>{{ a.question }}</h3>
                <p>{{ a.answer }}</p>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Nenhuma tarefa disponível.</p>
    {% endif %}
{% endblock %}